* {
    color: white;
    font-family: 'Russo One', sans-serif;
    text-decoration: none;
    font-size: 24px;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #FDEB6B;
        background-size: 100%;
        margin: 0px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #A59647;
        background-size: 100%;
        margin: 0px;
    }
}

@media (prefers-color-scheme: light) {
    .footer {
        font-size: 24px;
        position: fixed; /* Фиксированное положение */
        left: 0; up: 0; /* Левый нижний угол */
        padding: 10px; /* Поля вокруг текста */
        background: #A201FF; /* Цвет фона */
        color: #fff; /* Цвет текста */
        width: 100%; /* Ширина слоя */
    }
}

@media (prefers-color-scheme: dark) {
    .footer {
        font-size: 24px;
        position: fixed; /* Фиксированное положение */
        left: 0; up: 0; /* Левый нижний угол */
        padding: 10px; /* Поля вокруг текста */
        background: #6901A5; /* Цвет фона */
        color: #fff; /* Цвет текста */
        width: 100%; /* Ширина слоя */
    }
}

.post {
    font-size: 8px;
    text-shadow: 1px 1px 4px black;
}

.ava {
    margin-right: 12px;
    margin-left: 12px;
    border-radius: 24px;
}

.image {
    margin-top: -12px;
}

.name {
    margin-left: 12px;
    margin-top: 6px;
}

.nam {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}